@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}
body {
  background-color: #ffefef;
  margin: 0;
  padding: 0 100px;
}

header {
  text-align: center;
  width: 600px;
  margin: 35px auto 80px auto;
  font-size: 1.7rem;
}
main {
  background-color: #ffffff;
  padding: 50px;
  margin: auto;
  text-align: center;
  width: 800px;
  margin: auto;
}

.galerie {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.obrazek {
  width: 30%;
}

.popisky {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  margin: 50px 0;
}

.popisky p {
  width: 47%;
}

h2 {
  font-size: 2rem;
}

.jidlo {
  display: flex;
  padding: 50px 0;
  text-align: left;
}

.jidlo-druhe {
  flex-direction: row-reverse;
  text-align: right;
}

.karta {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.jidlo-druhe .karta {
  align-items: flex-end;
}

.talir {
  width: 40%;
}

.button {
  height: 3.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffefef;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
  background-color: #d4abab;
  color: white;
}

.jidlo p {
  padding-bottom: 1.5rem;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  width: 600px;
  margin: 35px auto 80px auto;
}
